@import 'styles-variables';

$accent: map-get($solarboard-theme, accent);;
$primary: map-get($solarboard-theme, primary);

.main-heading {
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}

.temp-status {
  margin-top: $status-margin;
}

.table td,
.table th {
    border: 0;
    text-align: center;
  
}

.table td {
  background-color: mat-color($primary);

  &.cell-extreme {
    background-color: #FF0;
    color: #000;
  }
  &.cell-hot {
    background-color: rgba(255, 255, 0, 0.95);
    color: #000;
  }
  &.cell-moderate {
    background-color: rgba(255, 255, 0, 0.90);
    color: #000;
  }
  &.cell-mild {
    background-color: rgba(255, 255, 0, 0.80);
    color: #000;
  }
  &.cell-low {
    background-color: rgba(255, 255, 0, 0.7);
    color: #000;
  }
  &.cell-derary {
    background-color: rgba(255, 255, 0, 0.3);
  }
  &.cell-dark {
    background-color: #000;
  }
  
  .flux, .cloud {
    font-weight:600;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  td, th {
    &.even {
      display: none;
    }
    .day {
      transform: matrix(0, -1, 1 , 0, 0, 30);
      font-size: smaller;
      font-weight:600;
      max-width: 10px;
    }
  }

  td {
    .flux, .cloud {
      font-size: smaller;
    }
  }
}



