<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Weather Forecast</h1> 
    </div>
  </div>
  <div>
    {{stringify(weather.AllDays[0].toISOString())}}
    {{stringify(weather.Weather[weather.AllDays[0].toISOString()])}}
  </div>
  <table class="table">
    <tbody>
      <tr *ngFor="let day of weather.AllDays">
         <!--  {{stringify(weather.Weather[day])}} -->
         <td class="even">{{ day }}</td>
         <td *ngFor="let time of getKeys(weather.Weather[day.toISOString()]); let idx = index" 
            [ngClass]="[idx % 2 === 0 ? 'even' : '', GetClassName(weather.Weather[day.toISOString()][time].Flux)]">
            <span class="flux">{{weather.Weather[day.toISOString()][time].Flux}}</span> <br>
            <span class="cloud">({{weather.Weather[day.toISOString()][time].Cloud}})</span>
          </td>
      </tr>
    </tbody>
  </table>
  <mat-table #table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
