<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Weather Forecast</h1> 
    </div>
  </div>
  <div class="row justify-content-center align-items-center " [ngClass]="animateOnRouteEnter">
      <mat-spinner *ngIf="isLoading" class="temp-status"></mat-spinner>
      <i *ngIf="!isLoading && isError" class="fa fa-exclamation-triangle fa-5x temp-status" aria-hidden="true"></i>
  </div>
  <table class="table" *ngIf="!isLoading && !isError">
      <thead>
          <tr>
            <th class="day"></th>
            <th *ngFor="let time of times; let idx = index" [class.even]="idx % 2 === 0">{{ time | momentUtc | momentFormat : 'HH:mm'}}</th>
          </tr>
        </thead>
    <tbody>
      <tr *ngFor="let day of days">
         <td><div class="day">{{ day | date: 'shortDate' }}</div></td>
         <td *ngFor="let time of times; let idx = index" 
              [ngClass]="[idx % 2 === 0 ? 'even' : '', GetClassName(GetWeatherInfo(day, time))]">
            <div  *ngIf="GetWeatherInfo(day, time)">
              <div class="flux">{{GetWeatherInfo(day, time).Flux | number:'0.1-1'}}</div>
              <div class="cloud" *ngIf="GetWeatherInfo(day, time).Cloud">/ {{GetWeatherInfo(day, time).Cloud | number:'0.1-1'}}</div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>