<div class="container-fluid powerboard">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Panel Dashboard</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
      <mat-spinner *ngIf="isLoading" class="temp-status"></mat-spinner>
      <i *ngIf="!isLoading && isError" class="fa fa-exclamation-triangle fa-5x temp-status" aria-hidden="true"></i>
  </div>
  <div class="row align-items-end" *ngIf="!isLoading && !isError">
    <div *ngFor="let panel of panels" class="col-md-2" [ngClass]="animateOnRouteEnter">
      <mat-card>
          <mat-card-title>
              <b>PANEL {{panel.Id}}</b> <code class="blah"> {{panel.Power}}</code> <code>{{panel.Tension}}</code>
          </mat-card-title>
      </mat-card>
    </div>
  </div>
</div>
