@import 'styles-variables';

code {
  white-space: nowrap;
  padding: 0 8px 1px 8px;
}

.temp-status {
  margin-top: $status-margin;
}

$accent: map-get($solarboard-theme, accent);

.myDiv {
  display: flex;
  flex-flow: row wrap;
}

code.power {
    background-color: mat-color($accent);
}

.main-heading {
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;
  mat-card-title {
    font-size: 15px;
  }
  mat-card-subtitle {
    text-align: center;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
} 

